.wrapperContainer {
    height: 100vh;
    width: 100vw;
    background-image: url("./images/beers.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}

#loginContainer {
    max-width: 700px;
}

.loginForm {
    max-width: 400px;
    margin: 0 auto;
}

.loginButton {
    background-color: orange;
    
}
.loginButton:hover {
    background-color: rgb(255, 212, 131);
    color: slategray;
}

.loginCard {
    margin-top: 10vh;
    border-radius: 2px;
}

.cardHeader {
    border: none;
    background-color: white;
    margin: 0 auto;
}

.cardHeader img {
    max-height: 20vh;
}

.cardFooter {
    text-align: center;
}

.red-text {
    color: red;
}
