
.background {
    min-height: 100vh;
    min-width: 100vw;
    background-color: rgb(252, 178, 62, 0.85);
}


/* ------------- LOGIN AND REGISTER ------------- */

.wrapperContainer {
    height: 100vh;
    width: 100vw;
    background-image: url("./images/beers.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}

#loginContainer {
    max-width: 700px;
}

.loginForm {
    max-width: 400px;
    margin: 0 auto;
}

.loginButton {
    background-color: rgb(247, 150, 33);
    border: none; 
    margin-top: 1vh;
    margin-bottom: 3vh;
}

.loginButton:hover,
.loginButton:active,
.loginButton:focus,
.loginButton:visited {
    background-color: rgb(252, 178, 62) !important;
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}

.loginCard {
    margin-top: 5vh;
    border-radius: 2px;
}

.cardHeader {
    border: none;
    background-color: white;
    margin: 0 auto;
}

.cardHeader img {
    max-height: 20vh;
}

.cardFooter {
    text-align: center;
    background-color: rgb(13, 70, 93, 0.8);
}

.red-text {
    color: red;
}

.noAccount {
    margin: 0;
    padding: .5vh;
    color: white;
}

.registerLink {
    color: rgb(252, 178, 62);
}

.registerLink:hover {
    text-decoration: none;
    color: rgb(247, 150, 33)
}

.createAccount {
    text-align: center;
}


/* -------------- NAVBAR -------------- */

.sticky-nav {
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar {
    /* background-color: rgb(13, 70, 93, 0.9) !important; */
    background-color: #fff !important;
    -webkit-box-shadow: 0px 1px 3px 0.5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 1px 3px 0.5px rgba(0,0,0,0.75);
    box-shadow: 0px 1px 3px 0.5px rgba(0,0,0,0.75);
}

.navbar-brand {
    padding: 0;
}

.navbar-brand img {
    padding: 0;
    margin-right: 4vw;
    height: 70px;
}

.logOut {
    color: #fff;
    border: 1px solid rgb(13, 70, 93);
    border-radius: 2px;
    margin-bottom: 0 !important;
}

.logOut:hover {
    border: 1px solid #177aa2;
}

.navbar a {
    color: rgb(13, 70, 93) !important;
    margin-bottom: -10px;
    margin-right: 1vw;
}

.navbar a:hover {
    color: #177aa2 !important;
}

.navbar-light .navbar-toggler {
    border-color: rgb(13, 70, 93) !important;
    border-radius: 2px;
}

.navbar-light .navbar-toggler:hover {
    border-color: #177aa2 !important;
}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(13, 70, 93)' stroke-width='1.5' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-light .navbar-toggler-icon:hover {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(23, 122, 162)' stroke-width='1.5' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}


/* ----------- DASHBOARD ------------ */

.jumbotron {
    margin-top: 5vh;
    margin-left: auto;
    margin-right: auto;
    width: 75vw;
    max-width: 860px;
    background-color: rgb(245, 251, 254);
    border: solid 1px rgb(13, 70, 93, 0.6);
    border-radius: 2px;
}

.logoMin {
    max-height: 20vh;
    margin-top: 3vh;
    margin-bottom: 4vh;
}

.dashSearch {
    padding: 8px 5px 8px 5px;
    color: rgb(13, 70, 93);
    border: solid 1px rgb(13, 70, 93);
    border-radius: 2px;
    font-weight: 400;
}

.dashSearch:hover {
    color: #177aa2;
    border: solid 1px #177aa2;
    text-decoration: none !important;
}

.text-link {
    color: inherit;
    text-decoration: none;
}

/* ------------ SEARCH ---------- */

.brewSearchTitle {
    font-weight: 300;
}

.brewSearch {
    max-width: 400px;
    margin: 0 auto;
}

.brewSearchButton {
    margin-top: 10px;
    padding: 8px 5px 8px 5px;
    background-color: rgb(245, 251, 254);
    border: solid 1px rgb(13, 70, 93) !important;
    color: rgb(13, 70, 93) !important;
    border-radius: 2px;
    font-weight: 400;
    text-decoration: none;
}

.brewSearchButton:hover,
.brewSearchButton:active,
.brewSearchButton:focus {
    background-color: rgb(245, 251, 254);
    color: #177aa2 !important;
    border: solid 1px #177aa2 !important;
    text-decoration: none !important;
}


/* ----------- MAP ----------- */

/* .mapBox {
    max-width: 50vw;
    padding: 0 !important;
    margin: 0 auto;
} */

/* .mapboxDiv {
    max-width: 50vw;
    max-height: 50vh;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    overflow: hidden;
} */

.mapboxWrapper {
    max-width: 75vw;
    max-height: 50vh;
    margin-top: 5vh;
    margin-left: auto;
    margin-right: auto;
    border: solid 1px rgb(13, 70, 93, 0.8);
    border-radius: 5px;
    overflow: hidden;
}

.mapMarkerStyle {
    color: rgb(13, 70, 93);
    font-weight: 500;
    margin: 0;
}
.marker{
    color: orangered;
    font-size: 1.5em;
}

.brewList {
    max-width: 80vw;
    margin: 0 auto;
}

.mapBreweryCard {
    max-width: 80vw;
    margin: 0 auto;
    padding: 10px;
}

.mapBreweryCard .card {
    border: solid 1px rgb(13, 70, 93, 0.6);
    border-radius: 4px;
}

.mapBreweryCard .card-header {
    background-color: rgb(245, 251, 254);
    border: none;
}

.mapBreweryCard .card-header h5 {
    padding: 5px 5px 0px 0px;
}

.mapBreweryCard .card-body {
    background-color: rgb(245, 251, 254);
    padding-top: 5px;
}

.mapBreweryCard .card-body h6 {
    padding: 0px 5px 0px 0px;
}

.mapBreweryCard .input-group-text {
    padding: 0;
    margin-right: 10px;
    border: none;
    background: none;
}

.mapBreweryCard .card-footer {
    background-color: #177aa2;
    color: white;
    padding-top: 3px;
    padding-bottom: 3px;
}

#mapPageButton {
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 8px 5px 8px 5px;
    background-color: #177aa2;
    color: white !important;
    border: solid 1px rgb(13, 70, 93) !important;
    border-radius: 2px;
    font-weight: 400;
    text-decoration: none;
}

#mapPageButton:hover,
#mapPageButton:active,
#mapPageButton:focus {
    background-color: rgb(13, 70, 93);
}

.popupName {
    font-size: 12px;
    font-weight: 400;

}

.closePopupButton {
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 0;
    font-size: 12px;
    
    
    line-height: 10px;
    border-radius: 5%;
}

.mapboxgl-popup-close-button {
    display: none;
}

/* .map_nav{
    width: 18vw;
    height: 80vh;
    background-color: #000;
    left: 0;
    margin-top: 5vh;
    position:absolute;
    z-index: 10;
    display: flex;
    flex-direction: column;
}

.btn_more{
    margin: .2em;
    position: absolute;
    z-index: 15;
}

.search{
    margin-top: 2em;
    margin: 1em;
    text-align: center;
    color: #ccc;
}

.search_result{
    width: 14vw;
    height: 8vh;
    box-sizing: border-box 2px 2px 3px #ccf;
    background-color: transparent;
    margin: 1em;
    border: 1px solid #ccc;
    border-radius: 20px;
    border-top: none;
    border-right: none;
    border-left: none;
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search_result:hover{
    background-color: #252525;
    cursor: pointer;
} */


/* ----------- RESULTS ------------- */

.breweryCard {
    padding: 20px;
}

.containerCheck {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.containerCheck input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.containerCheck {
    margin-top: auto;
    margin-bottom: auto;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    /* background-color: #eee; */
}

/* On mouse-over, add a grey background color */
/* .containerCheck:hover input ~ .checkmark {
background-color: #ccc;
} */

/* When the checkbox is checked, add a blue background */
/* .containerCheck input:checked ~ .checkmark {
background-color: #2196F3;
} */

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.containerCheck input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.containerCheck .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


/* ------------- SMALL SCREEN -------------- */

@media screen and (max-width: 768px) {

    .logoMin {
        max-height: 15vh;
    }

    h4, h5, h6 {
        font-size: smaller;
    }

    .mapCardFooterText {
        font-size: smaller;
    }
    .dashSearch {
        display: block;
        padding: 5px, 0, 5px, 0;
        margin-top: 2vh;
        margin-bottom: 1vh;
    }

    .brewSearchTitle {
        font-size: smaller;
        font-weight: 300;
    }

    .form-label {
        font-weight: 200;
        font-size: smaller;
    }

    .form-control {
        margin-bottom: -10px;
    }

    .mapBreweryCard {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .mapButtonDiv {
        display: inline-flex;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }

    /* #mapPageButton {
        margin-left: 10px;
        margin-right: 0px;
    } */
 
}

@media screen and (max-width: 767.98px) {
    .mapBreweryCard {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}

@media screen and (max-width: 991.98px) {

    .logOut,
    .logOut:hover {
        border: none;
    }

    .mapboxWrapper {
        max-width: 80vw;
        max-height: 40vh;
        margin-left: auto;
        margin-right: auto;
        overflow: hidden;
    }   

    .mapBreweryCard {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    /* #mapPageButton {
        margin-left: 0px;
        margin-right: 10px;
    }
     */
      
}